<a href="https://colab.research.google.com/github/7tiesdan/IntroToPythonLCC/blob/main/SchoolsMidTermProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/CunyLaguardiaDataAnalytics/datasets/master/2014-15_To_2016-17_School-_Level_NYC_Regents_Report_For_All_Variables.csv')

In [4]:
df.head()

,School DBN,School Name,School Level,Regents Exam,Year,Total Tested,Mean Score,Number Scoring Below 65,Percent Scoring Below 65,Number Scoring 65 or Above,Percent Scoring 65 or Above,Number Scoring 80 or Above,Percent Scoring 80 or Above,Number Scoring CR,Percent Scoring CR
0,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Common Core Algebra,2017,4,s,s,s,s,s,s,s,na,na
1,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Living Environment,2015,16,77.9,1,6.3,15,93.8,7,43.8,na,na
2,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Living Environment,2016,9,74,1,11.1,8,88.9,2,22.2,na,na
3,01M140,P.S. 140 Nathan Straus,K-8,Common Core Algebra,2016,3,s,s,s,s,s,s,s,na,na
4,01M140,P.S. 140 Nathan Straus,K-8,Common Core Algebra,2017,2,s,s,s,s,s,s,s,na,na

In [6]:
df.shape

(212331, 15)

In [7]:
df.isnull().sum()

School DBN                      0
School Name                     0
School Level                    0
Regents Exam                   10
Year                            0
Total Tested                    0
Mean Score                      0
Number Scoring Below 65         0
Percent Scoring Below 65        0
Number Scoring 65 or Above      0
Percent Scoring 65 or Above     0
Number Scoring 80 or Above      0
Percent Scoring 80 or Above     0
Number Scoring CR               0
Percent Scoring CR              0
dtype: int64

In [8]:
df.describe()

                Year   Total Tested
count  212331.000000  212331.000000
mean     2015.956069      49.364200
std         0.799726      93.023576
min      2015.000000       1.000000
25%      2015.000000       5.000000
50%      2016.000000      20.000000
75%      2017.000000      57.000000
max      2017.000000    1729.000000

In [10]:
Poranda = df[df['School Name'] == 'P.S. 140 Nathan Straus']

In [11]:
print(Poranda)

       School DBN             School Name School Level         Regents Exam  \
3          01M140  P.S. 140 Nathan Straus          K-8  Common Core Algebra
4          01M140  P.S. 140 Nathan Straus          K-8  Common Core Algebra
5          01M140  P.S. 140 Nathan Straus          K-8   Living Environment
6          01M140  P.S. 140 Nathan Straus          K-8   Living Environment
7          01M140  P.S. 140 Nathan Straus          K-8   Living Environment
19482      01M140  P.S. 140 Nathan Straus          K-8  Common Core Algebra
19483      01M140  P.S. 140 Nathan Straus          K-8  Common Core Algebra
19484      01M140  P.S. 140 Nathan Straus          K-8   Living Environment
19485      01M140  P.S. 140 Nathan Straus          K-8   Living Environment
19486      01M140  P.S. 140 Nathan Straus          K-8   Living Environment
19487      01M140  P.S. 140 Nathan Straus          K-8   Living Environment
19488      01M140  P.S. 140 Nathan Straus          K-8   Living Environment
54241      01M140  P.S. 140 Nathan Straus          K-8  Common Core Algebra
54242      01M140  P.S. 140 Nathan Straus          K-8  Common Core Algebra
54243      01M140  P.S. 140 Nathan Straus          K-8   Living Environment
54244      01M140  P.S. 140 Nathan Straus          K-8   Living Environment
54245      01M140  P.S. 140 Nathan Straus          K-8   Living Environment
54246      01M140  P.S. 140 Nathan Straus          K-8   Living Environment
54247      01M140  P.S. 140 Nathan Straus          K-8   Living Environment
54248      01M140  P.S. 140 Nathan Straus          K-8   Living Environment
54249      01M140  P.S. 140 Nathan Straus          K-8   Living Environment
102885     01M140  P.S. 140 Nathan Straus          K-8  Common Core Algebra
102886     01M140  P.S. 140 Nathan Straus          K-8  Common Core Algebra
102887     01M140  P.S. 140 Nathan Straus          K-8  Common Core Algebra
102888     01M140  P.S. 140 Nathan Straus          K-8  Common Core Algebra
102889     01M140  P.S. 140 Nathan Straus          K-8   Living Environment
102890     01M140  P.S. 140 Nathan Straus          K-8   Living Environment
102891     01M140  P.S. 140 Nathan Straus          K-8   Living Environment
102892     01M140  P.S. 140 Nathan Straus          K-8   Living Environment
102893     01M140  P.S. 140 Nathan Straus          K-8   Living Environment
102894     01M140  P.S. 140 Nathan Straus          K-8   Living Environment
139893     01M140  P.S. 140 Nathan Straus          K-8  Common Core Algebra
139894     01M140  P.S. 140 Nathan Straus          K-8  Common Core Algebra
139895     01M140  P.S. 140 Nathan Straus          K-8  Common Core Algebra
139896     01M140  P.S. 140 Nathan Straus          K-8  Common Core Algebra
139897     01M140  P.S. 140 Nathan Straus          K-8   Living Environment
139898     01M140  P.S. 140 Nathan Straus          K-8   Living Environment
139899     01M140  P.S. 140 Nathan Straus          K-8   Living Environment
139900     01M140  P.S. 140 Nathan Straus          K-8   Living Environment
139901     01M140  P.S. 140 Nathan Straus          K-8   Living Environment
139902     01M140  P.S. 140 Nathan Straus          K-8   Living Environment

        Year  Total Tested Mean Score Number Scoring Below 65  \
3       2016             3          s                       s
4       2017             2          s                       s
5       2015             9       67.4                       3
6       2016            15       72.6                       2
7       2017             9       64.4                       5
19482   2016             3          s                       s
19483   2017             2          s                       s
19484   2015             8          s                       s
19485   2015             1          s                       s
19486   2016            14          s                       s
19487   2016             1          s                       s
19488   2017             9       64.4                       5
54241   2016             3          s                       s
54242   2017             2          s                       s
54243   2015             5          s                       s
54244   2015             4          s                       s
54245   2016            10          s                       s
54246   2016             5          s                       s
54247   2017             1          s                       s
54248   2017             6       69.7                       2
54249   2017             2          s                       s
102885  2016             1          s                       s
102886  2016             2          s                       s
102887  2017             1          s                       s
102888  2017             1          s                       s
102889  2015             4          s                       s
102890  2015             5          s                       s
102891  2016            12          s                       s
102892  2016             3          s                       s
102893  2017             7          s                       s
102894  2017             2          s                       s
139893  2016             1          s                       s
139894  2016             2          s                       s
139895  2017             1          s                       s
139896  2017             1          s                       s
139897  2015             1          s                       s
139898  2015             8          s                       s
139899  2016             3          s                       s
139900  2016             2          s                       s
139901  2016            10       73.6                       0
139902  2017             9       64.4                       5

       Percent Scoring Below 65 Number Scoring 65 or Above  \
3                             s                          s
4                             s                          s
5                          33.3                          6
6                          13.3                         13
7                          55.6                          4
19482                         s                          s
19483                         s                          s
19484                         s                          s
19485                         s                          s
19486                         s                          s
19487                         s                          s
19488                      55.6                          4
54241                         s                          s
54242                         s                          s
54243                         s                          s
54244                         s                          s
54245                         s                          s
54246                         s                          s
54247                         s                          s
54248                      33.3                          4
54249                         s                          s
102885                        s                          s
102886                        s                          s
102887                        s                          s
102888                        s                          s
102889                        s                          s
102890                        s                          s
102891                        s                          s
102892                        s                          s
102893                        s                          s
102894                        s                          s
139893                        s                          s
139894                        s                          s
139895                        s                          s
139896                        s                          s
139897                        s                          s
139898                        s                          s
139899                        s                          s
139900                        s                          s
139901                        0                         10
139902                     55.6                          4

       Percent Scoring 65 or Above Number Scoring 80 or Above  \
3                                s                          s
4                                s                          s
5                             66.7                          0
6                             86.7                          5
7                             44.4                          1
19482                            s                          s
19483                            s                          s
19484                            s                          s
19485                            s                          s
19486                            s                          s
19487                            s                          s
19488                         44.4                          1
54241                            s                          s
54242                            s                          s
54243                            s                          s
54244                            s                          s
54245                            s                          s
54246                            s                          s
54247                            s                          s
54248                         66.7                          1
54249                            s                          s
102885                           s                          s
102886                           s                          s
102887                           s                          s
102888                           s                          s
102889                           s                          s
102890                           s                          s
102891                           s                          s
102892                           s                          s
102893                           s                          s
102894                           s                          s
139893                           s                          s
139894                           s                          s
139895                           s                          s
139896                           s                          s
139897                           s                          s
139898                           s                          s
139899                           s                          s
139900                           s                          s
139901                         100                          3
139902                        44.4                          1

       Percent Scoring 80 or Above Number Scoring CR Percent Scoring CR
3                                s                na                 na
4                                s                na                 na
5                                0                na                 na
6                             33.3                na                 na
7                             11.1                na                 na
19482                            s                na                 na
19483                            s                na                 na
19484                            s                na                 na
19485                            s                na                 na
19486                            s                na                 na
19487                            s                na                 na
19488                         11.1                na                 na
54241                            s                na                 na
54242                            s                na                 na
54243                            s                na                 na
54244                            s                na                 na
54245                            s                na                 na
54246                            s                na                 na
54247                            s                na                 na
54248                         16.7                na                 na
54249                            s                na                 na
102885                           s                na                 na
102886                           s                na                 na
102887                           s                na                 na
102888                           s                na                 na
102889                           s                na                 na
102890                           s                na                 na
102891                           s                na                 na
102892                           s                na                 na
102893                           s                na                 na
102894                           s                na                 na
139893                           s                na                 na
139894                           s                na                 na
139895                           s                na                 na
139896                           s                na                 na
139897                           s                na                 na
139898                           s                na                 na
139899                           s                na                 na
139900                           s                na                 na
139901                          30                na                 na
139902                        11.1                na                 na

In [12]:
OurSchool = df[df['School Name'] == 'P.S. 154']

In [13]:
print(OurSchool)

Empty DataFrame
Columns: [School DBN, School Name, School Level, Regents Exam, Year, Total Tested, Mean Score, Number Scoring Below 65, Percent Scoring Below 65, Number Scoring 65 or Above, Percent Scoring 65 or Above, Number Scoring 80 or Above, Percent Scoring 80 or Above, Number Scoring CR, Percent Scoring CR]
Index: []